:root {
    --color-primary-1: #FFFFFF;
    --color-primary-2: #E5EAEE;
    --color-primary-3: #CCD5DD;
    --color-primary-4: #B2C0CC;
    --color-primary-5: #99ABBB;
    --color-primary-6: #7F96AA;
    --color-primary-7: #667F99;
    --color-primary-8: #00334b;
    --color-primary-9: #002A3D;
    --color-primary-10: #00212F;
}
